@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --Secondary-600: #009FD4;

    --Neutral-300: #EFF3FA;
    --Neutral-400: #DBE2F0;
    --Neutral-800: #252B37;

    --Error-500: #CB0717;

    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;

}

label {
    cursor: pointer;
    color: var(--Neutral-800);
    font-size: 16px;
}

input {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 1px solid var(--Secondary-600);
    transition: 0.2s ease-in-out;
    margin-right: 5px;

    position: relative;
    top: 2px;
}

input:checked {
    border: 4px solid var(--Secondary-600);
}


input:hover,
input:focus {
    box-shadow: 0px 0px 4px 2px rgba(0, 159, 212, 0.20);
}


input[type="radio"]:disabled {
    background-color: var(--Neutral-300);
    border-color: var(--Neutral-400);
    cursor: not-allowed;
    box-shadow: none;
}

input[type="radio"]:disabled+label {
    cursor: not-allowed;
    color: var(--Neutral-400);
}

input[type="radio"].invalid {
    border: 1px solid var(--Error-500);

}

input[type="radio"].invalid:hover {
    box-shadow: 0px 0px 4px 2px rgba(240, 18, 36, 0.20);
}


input[type="radio"].invalid:checked {
    border: 4px solid var(--Error-500);
}

input[type="radio"].invalid:focus {
    box-shadow: 0px 0px 4px 2px rgba(240, 18, 36, 0.20);
}