@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --Primary-100: #F5F9FF;
  --Primary-500: #0066FF;
  --Neutral-300: #EFF3FA;
  --Neutral-600: #616C84;
  --Neutral-800: #252B37;

  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.tab-bar {
  display: flex;
  flex-direction: row;
}

.tab {
  display: inline-flex;
  height: 48px;
  min-width: 136px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

}

.selected {
  border-bottom: 3px solid var(--Primary-500);
  color: var(--Primary-500);
  font-weight: 700;
}

.default {
  border-bottom: 3px solid var(--Neutral-600);
  color: var(--Neutral-600);
  cursor: pointer;
}

.disabled {
  border-bottom: 3px solid var(--Neutral-300);
  color: var(--Neutral-300);
  cursor: not-allowed;
}

.default:hover {
  background: var(--Primary-100, #F5F9FF);
}

.tab-content {
  padding: 16px;
  color: var(--Neutral-800);
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}